
*.xcworkspacedata

*.xcuserstate

MyPlayground.playground/Contents.swift

MyPlayground.playground/Sources/Quadric.swift

MyPlayground.playground/Sources/Scene.swift

MyPlayground.playground/timeline.xctimeline
